=font($color, $size)
    font-family: sans-serif
    color: $color
    font-size: $size
    line-height: 24px
    font-weight: 400
    text-decoration: none

=flex
    display: flex
    flex-wrap: wrap
    flex-direction: row
    align-items: center
